@import 'src/styles/_ngselect.scss';
.workflow-general-container {
  width: 98%;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  .general-setting {
    margin-top: 5px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    .general-setting-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e8e8e8;
      .label {
        height: 50px;
        border: 0px 0px 1px 0px;
        padding: 16px 24px;
        border-bottom: 1px solid #e8e8e8;
        font-weight: 500;
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: 0.3px;
        color: #333333;
      }
      .edit-icon {
        padding-inline: 24px;
      }
    }
    .workflow-content {
      display: flex;
      flex-wrap: wrap;
      .workflow-field {
        width: 50%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: block;
        letter-spacing: 0.3px;
        padding: 16px 24px;
        color: #344054;
        .input-field {
          width: 100%;
          height: 44px;
          margin-top: 10px;
          padding-inline: 10px;
          font-size: 14px;
          border: 1px solid #d0d5dd;
          border-radius: 4px;
        }
        .text-field {
          width: 100%;
          height: 90px;
          margin-top: 10px;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #d0d5dd;
          border-radius: 4px;
        }
        .buttons {
          display: flex;
          gap: 6px;
          justify-content: flex-end;
          margin-top: 15px;
          .save-btn {
            width: 98px;
            height: 34px;
            border-radius: 4px;
            padding: 6px;
            background-color: #bd2c49;
            border: none;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
          }
          .cancel-btn {
            width: 98px;
            height: 34px;
            border-radius: 4px;
            padding: 6px;
            border: 1px solid black;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: black;
          }
        }
      }
    }
  }
  .email-setting {
    padding: 16px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #333333;
    .general-setting-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .add-email-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #bd2c49;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        display: flex;
        gap: 6px;
        align-items: center;
      }
    }
  }
  .email-table {
    overflow-y: scroll;
    height: 320px;
    .table-container {
      width: 100%;
      border-radius: 8px;
      background: #ffffff;
      border: 1px solid #f2f2f2;
      border-collapse: collapse;
      table-head {
        background-color: white;
      }
      .table-header-cell {
        height: 36px;
        background-color: #f9fafb;
        border-width: 0px 0px 1px 0px;
        border-bottom: 1px solid #f2f2f2;
        text-align: left;
        font-weight: 400 !important;
        letter-spacing: 0.5px;
        position: sticky;
        z-index: 10;
        padding: 0px 10px;
        font-size: 12px;
        line-height: 14.52px;
        text-transform: uppercase;
        color: #656565;
      }
      .scrollable-table__body {
        .table-cell {
          padding: 10px;
          height: 72px;
          color: #333333;
          font-weight: 400 !important;
          line-height: 16.94px;
          font-size: 14px;
          letter-spacing: 0.3px;
          .actions {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-inline: 12px;
            .delete-icon {
            }
          }
        }
      }
    }
    .scrollable-table__body tr:hover {
      cursor: pointer;
      background-color: #f9fafb;
    }
  }
}

.error {
  border: 2px solid #f44336 !important;
  border-radius: 5px;
  height: 52px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

::ng-deep {
  .ng-select .ng-select-container {
    z-index: 9 !important;
    margin-top: 10px;
    height: 44px !important;
  }
  .ng-select {
    .ng-dropdown-panel {
      z-index: 9 !important;
    }
  }
}

.modal-wrapper {
  height: 100%;
}

.add-email-form {
  display: flex;
  flex-direction: column;
  background-color: red;
  border-radius: 6px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 20px 30px 20px;
    .header_title {
      font-family: Graphik, serif;
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      line-height: 40px;
      height: 39px;
      color: black;
    }
    .header_close-btn {
      cursor: pointer;
      border: none;
      outline: none;
      background: white;
    }
  }
  .form-details {
    height: 100%;
    padding: 0 20px 20px;
    overflow-y: auto;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #828282;
  }
  .buttons {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    padding-inline: 20px;
    margin-bottom: 20px;
    .confirm-btn {
      width: 98px;
      height: 34px;
      border-radius: 4px;
      padding: 6px;
      background-color: #bd2c49;
      border: none;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #ffffff;
    }
    .cancel-btn {
      width: 98px;
      height: 34px;
      border-radius: 4px;
      padding: 6px;
      background-color: #262626;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

::ng-deep .modal-dialog {
  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 6px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 20px;
      margin-top: 20px;
      .header_title {
        font-family: Graphik, serif;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        line-height: 40px;
        height: 39px;
        color: black;
        margin-bottom: 0px !important;
      }
      .header_close-btn {
        cursor: pointer;
        border: none;
        outline: none;
        background: white;
        height: 20px;
      }
    }
    .form-details {
      height: 100%;
      overflow-y: auto;
      font-family: 'Graphik';
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #828282;
      padding-inline: 20px;
      .workflow-field {
        width: 100%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: block;
        letter-spacing: 0.3px;
        padding-block: 15px;
        color: #344054;
        .input-field {
          width: 100%;
          height: 44px;
          margin-top: 10px;
          padding-left: 10px;
          font-size: 14px;
          border: 1px solid #d0d5dd;
          border-radius: 4px;
        }
      }
      .email-type {
        margin-bottom: 15px;
      }
    }
    .buttons {
      display: flex;
      gap: 5px;
      align-items: flex-end;
      padding-inline: 20px;
      margin-bottom: 20px;
      .confirm-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #bd2c49;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
      }
      .cancel-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #262626;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        margin-left: 258px;
      }
    }
  }
}
