<div class="workflow-general-container">
  <div class="general-setting">
    <div class="general-setting-label">
      <span class="label"> General setting</span>
      <span class="edit-icon" *ngIf="!isEditing"
        ><img
          src="/assets/icons/edit-icon.svg"
          alt="edit Icon"
          (click)="editWorkflow()"
      /></span>
    </div>
    <div class="workflow-content" *ngIf="workflowCopy">
      <div class="workflow-field">
        <span>Name</span>
        <input
          type="text"
          maxlength="255"
          placeholder="Enter Workflow Name"
          class="input-field"
          [(ngModel)]="workflowCopy.name"
          [readOnly]="!isEditing" />
      </div>
      <div class="workflow-field">
        <span>Enabled</span>
        <ng-select
          [items]="workflowStatus"
          bindLabel="label"
          bindValue="value"
          [searchable]="false"
          [clearable]="false"
          placeholder="select status"
          [class.disabled]="!isEditing"
          [(ngModel)]="workflowCopy.enabled">
        </ng-select>
      </div>
      <div class="workflow-field">
        <span>Description</span>
        <textarea
          placeholder="add description"
          class="text-field"
          [(ngModel)]="workflowCopy.description"
          [readOnly]="!isEditing"></textarea>
      </div>
      <div class="workflow-field">
        <div>
          <span> Parallel Instances</span>
          <input
            type="number"
            placeholder="throttle limit"
            class="input-field"
            [(ngModel)]="workflowCopy.throttleLimit"
            [readOnly]="!isEditing"
            (blur)="checkThrottleLimit($event)" />
        </div>
        <div class="buttons" *ngIf="isEditing">
          <button
            class="save-btn"
            type="button"
            (click)="saveWorkflowChanges()">
            SAVE
          </button>
          <button class="cancel-btn" type="button" (click)="cancelChanges()">
            CANCEL
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="email-setting">
    <div class="general-setting-label">
      <span class="email-label">Email</span>
      <span>
        <button
          class="add-email-btn"
          type="button"
          (click)="openAddEmailDialog(addEmailForm)">
          <img
            src="/assets/icons/create-logo.svg"
            class="create-icon"
            alt="create Icon" />
          Add Email
        </button></span
      >
    </div>
  </div>
  <div class="email-table">
    <table class="table-container">
      <thead class="table-head">
        <tr>
          <th *ngFor="let heading of headings" class="table-header-cell">
            {{ heading }}
          </th>
        </tr>
      </thead>
      <tbody class="scrollable-table__body">
        <ng-container>
          <tr *ngFor="let email of emails; let i = index">
            <td class="table-cell">{{ i + 1 }}</td>
            <td class="table-cell">{{ email.email }}</td>
            <td class="table-cell">{{ email.name }}</td>
            <td class="table-cell">
              <ng-select
                [items]="emailStatus"
                bindLabel="label"
                bindValue="value"
                [searchable]="false"
                [clearable]="false"
                placeholder="select status"
                [(ngModel)]="email.status"
                [class.disabled]="true">
              </ng-select>
            </td>
            <td class="table-cell">
              <div class="actions">
                <img
                  src="/assets/icons/delete-icon.svg"
                  class="delete-icon"
                  alt="delete"
                  (click)="deleteEmail(email.id, email.email)" />
                <img
                  src="/assets/icons/edit-icon.svg"
                  alt="edit Icon"
                  class="edit-icon"
                  (click)="editEmail(email, addEmailForm)" />
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #addEmailForm class="modal-content">
  <div class="header">
    <p class="header_title">Add Email</p>
    <button type="button" class="header_close-btn" (click)="closeModal()">
      <img src="assets/icons/close-circle.svg" alt="" />
    </button>
  </div>
  <div class="form-details">
    <div class="workflow-field">
      <span>Email ID</span>
      <input
        type="text"
        maxlength="255"
        placeholder="Enter Email"
        class="input-field"
        [(ngModel)]="newEmailData.email" />
    </div>
    <div class="workflow-field">
      <span>Name</span>
      <input
        type="text"
        maxlength="255"
        placeholder="Enter Name"
        class="input-field"
        [(ngModel)]="newEmailData.name" />
    </div>
    <div class="workflow-field email-type">
      <span>Email Type</span>
      <ng-select
        [items]="emailStatus"
        placeholder="Select Type"
        bindLabel="label"
        bindValue="value"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="newEmailData.status">
      </ng-select>
    </div>
  </div>
  <div class="buttons">
    <button class="cancel-btn" (click)="cancelChangesForEmail()">CANCEL</button>
    <button class="confirm-btn" (click)="addEmail()">CONFIRM</button>
  </div>
</ng-template>
