<div class="monitor-instance-table">
  <app-common-table
    [headings]="headings"
    [values]="getTableValues()"
    (editPriority)="onEditPriority($event, changePriorityForm)"
    [showActions]="true"
    (terminateInstance)="onTerminateInstance($event)">
  </app-common-table>

  <div *ngIf="noRunningInstances" class="no-pendingInstances-message">
    No Running Instances Found
  </div>

  <ng-template #changePriorityForm class="modal-content">
    <div class="header">
      <p class="header_title">Change Priority</p>
      <button type="button" class="header_close-btn" (click)="closeModal()">
        <img src="assets/icons/close-circle.svg" alt="" />
      </button>
    </div>
    <div class="form-details">
      <div class="workflowInstance-field">
        <p>Priority</p>
        <ng-select
          [items]="priorityConstants"
          placeholder="Select Type"
          bindLabel="label"
          bindValue="value"
          [searchable]="false"
          [clearable]="false"
          [(ngModel)]="priority">
        </ng-select>
      </div>
    </div>
    <div class="buttons">
      <button class="cancel-btn" (click)="cancelChangesForPriority()">
        CANCEL
      </button>
      <button class="confirm-btn" (click)="updatePriority()">CONFIRM</button>
    </div>
  </ng-template>
</div>

<div class="page-view">
  <app-pagination [page]="page" (paginationEvent)="onPage($event)">
  </app-pagination>
</div>
