<div class="main-container">
  <div class="header">
    <p>XML Settings</p>
    <div class="general-setting-label">
      <div class="edit-icon">
        <img
          src="/assets/icons/edit-icon.svg"
          alt="edit Icon"
          (click)="toggleEditing()" />
      </div>
    </div>
  </div>

  <div class="fields-container">
    <div class="field-item">
      <span
        [tooltip]="
          'Select the Template From the Templates Added To This Workflow'
        "
        >Template</span
      >

      <ng-select
        [items]="templates"
        bindLabel="name"
        bindValue="id"
        [searchable]="false"
        [clearable]="false"
        placeholder="Templates"
        [(ngModel)]="selectedTemplateId"
        [class.disabled]="!enableEditing">
      </ng-select>
    </div>
  </div>

  <div class="buttons" *ngIf="enableEditing">
    <button class="btn btn--red" type="button" (click)="saveTemplateChanges()">
      save
    </button>
    <button class="btn btn--black" type="button" (click)="cancelChanges()">
      cancel
    </button>
  </div>
</div>
