.text {
  font-family: Graphik;
  font-size: 30px;
  font-weight: 350;
  margin-top: 90px;
  text-align: -webkit-center;
}

.button {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  margin: 0;
  padding: 16px 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button.button--cta {
  color: white;
  background: #bd2c49;
}

.button.button--cta:hover {
  background: #d53b64;
}

.button.button--cta:active {
  background: #bd2c49;
}
