@import 'src/styles/checkbox';
@import 'src/styles/button';
.main-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0003;
  .general-setting-label {
    display: flex;
    gap: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    margin: 16px 15px;
    padding-block: 16px;
    .edit-icon {
      cursor: pointer;
    }
    p {
      border: 0px 0px 1px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24.2px;
      letter-spacing: 0.3px;
      color: #333333;
      margin-bottom: 0;
    }
    .btn {
      margin-inline: 5px;
    }
  }
  .fields-container {
    margin-inline: 15px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
  .input-field {
    width: 100%;
    min-height: 36px;
    padding-inline: 10px;
    font-size: 14px;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    background: #fff;
  }
  .buttons {
    margin: 0px 15px;
    padding-block: 16px;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: flex-end;
    .btn {
      margin-left: 5px;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
  outline: none;
}
