<div class="main-container" *ngIf="fields.length > 0">
  <div class="header">
    <p>{{ workflowStep?.type }} Settings</p>
    <div class="general-setting-label">
      <div class="edit-icon">
        <img
          src="/assets/icons/edit-icon.svg"
          alt="edit Icon"
          (click)="toggleEditing()" />
      </div>
    </div>
  </div>

  <div
    class="fields-container"
    *ngIf="workflowStep?.workflowStepConfigurations">
    <div class="field-item" *ngFor="let field of fields">
      <div *ngIf="field; in: availableKeys">
        <div [ngSwitch]="field.type">
          <div class="form-group" *ngSwitchCase="'checkbox'">
            <label class="checkbox">
              <input
                type="checkbox"
                (change)="updateCheckboxFieldValue(field.key)"
                [checked]="getFieldValue(field.key, 'boolean')"
                [disabled]="!enableEditing" />
              <div class="checkbox__icon">
                <img src="/assets/icons/checkbox.svg" alt="" />
              </div>

              <span
                class="checkbox__label"
                style="font-size: 15px"
                [tooltip]="field.description"
                >{{ field.label }}</span
              >
            </label>
          </div>

          <span
            *ngIf="field.type !== 'checkbox'"
            [tooltip]="field.description"
            >{{ field.label }}</span
          >
          <input
            *ngSwitchCase="'input'"
            [type]="field.label === 'Password' ? 'password' : 'text'"
            maxlength="255"
            placeholder="{{ field.placeholder }}"
            class="input-field"
            [ngModel]="getFieldValue(field.key)"
            (ngModelChange)="setFieldValue(field.key, $event)"
            [class.disabled]="!enableEditing" />

          <textarea
            *ngSwitchCase="'textarea'"
            [name]="field.key"
            [id]="field.key"
            placeholder="{{ field.placeholder }}"
            [ngModel]="getFieldValue(field.key)"
            class="input-field"
            rows="5"
            (ngModelChange)="setFieldValue(field.key, $event)"
            [class.disabled]="!enableEditing"></textarea>

          <ng-select
            *ngSwitchCase="'select'"
            [items]="field.values"
            bindLabel="label"
            bindValue="value"
            [searchable]="false"
            [clearable]="false"
            placeholder="{{ field.placeholder }}"
            [ngModel]="getFieldValue(field.key)"
            (ngModelChange)="setFieldValue(field.key, $event)"
            [class.disabled]="!enableEditing">
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="buttons" *ngIf="enableEditing">
      <button
        class="btn btn--red"
        type="button"
        (click)="saveWorkflowSettingsChanges()">
        save
      </button>
      <button class="btn btn--black" type="button" (click)="cancelChanges()">
        cancel
      </button>
    </div>
  </div>
</div>
