<div class="main-container" *ngIf="stepConfigurationSection?.sections">
  <div class="header">
    <ng-container *ngIf="stepConfigurationSection?.title">
      <p>{{ stepConfigurationSection?.title }}</p>
    </ng-container>
    <div class="general-setting-label">
      <div class="edit-icon">
        <div class="buttons" *ngIf="enableEditing">
          <button
            class="btn btn--red"
            type="button"
            (click)="saveWorkflowSettingsChanges(workflowStep?.type)">
            save
          </button>
          <button
            class="btn btn--black"
            type="button"
            (click)="cancelChanges()">
            cancel
          </button>
        </div>
        <img
          src="/assets/icons/edit-icon.svg"
          alt="edit Icon"
          (click)="toggleEditing()"
          *ngIf="!enableEditing" />
      </div>
    </div>
  </div>

  <div *ngIf="workflowStep?.workflowStepConfigurations">
    <ng-container
      class="field-item"
      *ngFor="let section of stepConfigurationSection?.sections">
      <div class="line-with-text">
        <h4 class="line-text">{{ section.title }}</h4>
      </div>
      <div class="properties-container">
        <ng-container class="field-item" *ngFor="let field of section.fields">
          <div [ngSwitch]="field.type">
            <div class="form-group" *ngSwitchCase="'checkbox'">
              <label class="checkbox">
                <input
                  type="checkbox"
                  (change)="updateCheckboxFieldValue(field.key)"
                  [checked]="getFieldValue(field.key, 'boolean')"
                  [disabled]="!enableEditing" />
                <div class="checkbox__icon">
                  <img src="/assets/icons/checkbox.svg" alt="" />
                </div>

                <span
                  class="checkbox__label"
                  style="font-size: 15px"
                  [tooltip]="field.description"
                  >{{ field.label }}</span
                >
              </label>
            </div>

            <span
              *ngIf="field.type !== 'checkbox'"
              [ngClass]="{ 'label-required': field.required }"
              [tooltip]="field.description"
              >{{ field.label }}</span
            >
            <input
              *ngSwitchCase="'input'"
              [type]="
                field.label.toLowerCase().includes('password')
                  ? 'password'
                  : 'text'
              "
              maxlength="255"
              placeholder="{{ field.placeholder }}"
              class="input-field"
              [ngModel]="getFieldValue(field.key)"
              (ngModelChange)="setFieldValue(field.key, $event)"
              [class.disabled]="!enableEditing" />

            <textarea
              *ngSwitchCase="'textarea'"
              [name]="field.key"
              [id]="field.key"
              placeholder="{{ field.placeholder }}"
              [ngModel]="getFieldValue(field.key)"
              class="input-field"
              rows="5"
              (ngModelChange)="setFieldValue(field.key, $event)"
              [class.disabled]="!enableEditing"></textarea>

            <ng-select
              *ngSwitchCase="'select'"
              class="select-field"
              [items]="field.values"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              [clearable]="false"
              placeholder="{{ field.placeholder }}"
              [ngModel]="getFieldValue(field.key)"
              (ngModelChange)="setFieldValue(field.key, $event)"
              [class.disabled]="!enableEditing">
            </ng-select>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="stepConfigurationSection?.requireTemplate">
    <div class="line-with-text">
      <h4 class="line-text">Template Configuration</h4>
    </div>

    <div class="properties-container">
      <div>
        <span
          [tooltip]="
            'Select the Template From the Templates Added To This Workflow'
          "
          >Template to generate Product XML</span
        >
        <ng-select
          [items]="templates"
          bindLabel="name"
          bindValue="id"
          class="select-field"
          [searchable]="false"
          [clearable]="false"
          placeholder="Templates"
          [(ngModel)]="selectedTemplateId"
          (ngModelChange)="onTemplateChange($event)"
          [class.disabled]="!enableEditing">
        </ng-select>
      </div>

      <div>
        <span
          [tooltip]="
            'Select the Template Version of the Template Added To This Workflow'
          "
          >Template Versions</span
        >
        <ng-select
          [items]="templateVersions"
          bindLabel="id"
          bindValue="id"
          class="select-field"
          [searchable]="false"
          [clearable]="false"
          placeholder="Template Versions"
          [(ngModel)]="selectedTemplateVersionId"
          [class.disabled]="!enableEditing">
        </ng-select>
        <div
          *ngIf="selectedTemplateId !== undefined"
          style="margin-bottom: 5px"
          class="view-template-label"
          (click)="viewTemplate()"
          [tooltip]="'View Template'"
          [tooltipPlacement]="'right'"
          [tooltipTrigger]="'hover'">
          View Template
        </div>
      </div>

      <div>
        <span
          [tooltip]="
            'Please enter the file name to save XML output, default is identifier.xml'
          "
          >Filename to save XML</span
        >
        <input
          type="text"
          maxlength="255"
          placeholder="Enter custom XML filename"
          class="input-field"
          [ngModel]="getFieldValue('FILENAME')"
          (ngModelChange)="setFieldValue('FILENAME', $event)"
          [class.disabled]="!enableEditing" />
      </div>

      <div *ngIf="stepConfigurationSection?.requireXsdValidation">
        <span>XSD Validation</span>
        <ng-select
          [items]="xsdValidatorFiles"
          bindLabel=""
          bindValue=""
          class="select-field"
          [searchable]="false"
          [clearable]="false"
          placeholder="XSD Validator Files"
          [(ngModel)]="selectedValidatorFile"
          (change)="onValidatorFileChange($event)"
          [class.disabled]="!enableEditing">
        </ng-select>
      </div>
    </div>
  </ng-container>
</div>
