<nav>
    <div>
        <a routerLink="workflows">
            <img src="/assets/icons/bmg-logo.svg" alt="" class="logo" />
        </a>
    </div>
    <div class="nav-container">
        <div class="nav-container__left">
            <a routerLink="workflows" routerLinkActive="active">Workflows</a>
            <a routerLink="monitor" routerLinkActive="active">Monitor</a>
            <a routerLink="errors" routerLinkActive="active">Errors</a>
            <a routerLink="templates" routerLinkActive="active">XML Templates</a>
            <a routerLink="partners" routerLinkActive="active" class="nav-container__icon-link-container">Partners
        <img
          src="/assets/icons/partners.svg"
          class="nav-container__link-icon"
          alt=""
      /></a>
        </div>
        <div class="nav-container__right">
            <a routerLink="search" routerLinkActive="active" class="nav-container__icon-link-container">
                <img src="/assets/icons/search.svg" class="nav-container__link-icon" alt="" /> Search
            </a>
            <a routerLink="monitor" routerLinkActive="active">Bookmarks</a>
            <div class="nav-right__container-actions">
                <img src="/assets/icons/settings.svg" alt="" />
                <img src="/assets/icons/profile.svg" alt="" />
            </div>
        </div>
    </div>
</nav>