<div class="workflow-settings-container">
  <div class="settings-label-header">
    <p class="settings-label">Workflow Settings</p>
  </div>
  <div class="settings-info">
    <!-- <p class="info-label">Personal info</p> -->
    <!-- <div class="input-field">
            <p class="label">Folder Structure</p>
            <p>Folder Structure</p>
        </div> -->
  </div>
  <div class="settings-inputs">
    <p class="label">Process Asset</p>
    <div class="inputs">
      <div class="input-field">
        <p class="label">Folder Structure</p>
        <p>Folder Structure</p>
      </div>
      <div class="input-field">
        <p>
          Transcode Packshot/Screengrab: JPG <br /><span
            >when selected, Deliver asks store if a jpg transcode is available
            for any Packshot or Screengrab assets and uses these instead</span
          >
        </p>
        <mat-slide-toggle color="red"></mat-slide-toggle>
      </div>
      <div class="input-field">
        <p>
          Transcode Packshot/Screengrab: JPG <br /><span
            >when selected, Deliver asks store if a jpg transcode is available
            for any Packshot or Screengrab assets and uses these instead</span
          >
        </p>
        <input type="checkbox" height="20px" />
      </div>
    </div>
  </div>
</div>
