<div *ngFor="let workflowStep of workflowSteps">
  <div class="step-container">
    <div *ngIf="workflowStep.type === 'GCS_UPLOADER'">
      <app-gcs-uploader-settings
        [workflowStep]="workflowStep"
        (workflowStepChange)="
          updateWorkflowStep($event)
        "></app-gcs-uploader-settings>
    </div>

    <div *ngIf="workflowStep.type === 'SFTP'">
      <app-ftp-uploader-settings
        [workflowStep]="workflowStep"
        (workflowStepChange)="
          updateWorkflowStep($event)
        "></app-ftp-uploader-settings>
    </div>
  </div>
</div>
