.step-container {
  margin-inline: 15px;
  margin-bottom: 30px;
}
.bg-container {
  background: white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

h6.active {
  background-color: #f5f5f5;
  font-weight: 600;
}

.heading {
  height: 46px;
  padding-left: 20px;
  border-bottom: 1px solid #f5f5f5;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  cursor: pointer;
}

.left-container {
  width: 30%;
  border-right: 1px solid #f2f2f2;
  overflow-y: auto;
  height: 70vh;
}
.right-container {
  height: 75vh;
  width: 100%;
  overflow-y: auto;
}

.noConfigs {
  height: 80vh;
  p {
    margin-top: 20px;
    text-align: center;
  }
}
.addMore {
  border-radius: 0px;
  height: 46px;
  background-color: #333;
  color: #fff;
  display: flex;
  font-size: 13px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.create-workflowStep-modal {
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .workflow-info-con {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .workflow-field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }

    .label-required::after {
      content: ' *';
      color: red;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.2s ease-in-out;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }

    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 3px;
    }

    ng-select {
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  .workflow-btn {
    background-color: #ca0a3d;
    color: white;
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background: #ccccccac;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #c9302c;
    }
  }
}

::ng-deep .modal-dialog {
  // max-width: 70%;
  position: sticky;
  top: 120px;
  z-index: 1000;
}
.header_close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.text-field {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}
.create-icon {
  margin-right: 10px;
  color: white;
  font-size: 16px;
}
