.pagination {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
}

.page_item {
  font-size: 13px;
  padding: 5px;
  justify-content: center;
  border: 1px solid #ccc;
  background: #ffffff !important;
  display: flex;
  align-items: center;
  height: 30px;
  text-align: center;
  text-decoration: none;
}

.page_item_first {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.page_item_last {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.page_number {
  width: 40px;
}

.page_text {
  width: 60px;
}

.clickable {
  cursor: pointer;
}

.active_item {
  background: #ca0a3d !important;
  color: #f2f2f2 !important;
}

a {
  color: rgb(0, 0, 0);
}

.disabled {
  opacity: 0.4;
  cursor: no-drop;
}
