$black-1: #222222;
$black-2: #262626;
$black-3: #646464;
$red-1: #ca0a3d;
$red-2: #bd2c49;
$red-3: #f04438;
$white-1: #ffffff;
$primary-color: #3498db;
$secondary-color: #2ecc71;

$white--1: #fff;
$white--2: #eceff0;

$grey--1: #f3f3f3;
$grey--2: #d7d7d7;
$grey--3: #999;
$grey--4: #c5c5c5;
$grey--5: #8c8c8c;
$grey--6: #c4c4c4;
$grey--7: #f2f2f2;
$grey--8: #d8d8d8;
$grey--9: #bebebe;
$grey--10: #979797;
$grey--11: #ededed;
$grey--12: #bdbdbd;
$grey--13: #f4f4f4;
$grey--14: #828282;
$grey--15: #e0e0e0;
$grey--16: #535353;

$black--0: #000;
$black--1: #333;
$black--2: #1a1919;
$black--3: #222323;
$black--4: #262626;
$black--5: #222;
$black--6: #4f4f4f;
$black--7: #1b1b1b;

$green--0: #7cb13d;
$green--1: #2cbda0;
$green--2: #b7cc42;

$red--0: #ffedf2;
$red--1: #c80031;
$red--2: #bd2c49;
$red--3: #ca0a3d;
$red--4: #d53b64;
$red--5: #f44336;
$red--6: #f20f0f;

$yellow--1: #f2ca3d;
