@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  font-style: normal;

  src: url('./Graphik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: italic;

  src: url('./Graphik-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: normal;

  src: url('./Graphik-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: normal;

  src: url('./Graphik-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 200;
  font-style: normal;

  src: url('./Graphik-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: bold;
  font-style: normal;

  src: url('./Graphik-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: normal;

  src: url('./Graphik-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  font-style: normal;

  src: url('./Graphik-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  font-style: italic;

  src: url('./Graphik-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: italic;

  src: url('./Graphik-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  font-style: normal;

  src: url('./Graphik-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  font-style: italic;

  src: url('./Graphik-SuperItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 200;
  font-style: italic;

  src: url('./Graphik-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;

  src: url('./Graphik-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;

  src: url('./Graphik-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  font-style: italic;

  src: url('./Graphik-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: bold;
  font-style: italic;

  src: url('./Graphik-BoldItalic.woff2') format('woff2');
}
