<div class="main-container">
  <div class="label">
    <div class="para">
      <p id="track-assets-copy">XML Templates</p>
    </div>
    <div>
      <button
        class="btn btn--red"
        type="button"
        (click)="openCreateTemplateDialog(createTemplateForm)">
        <img src="/assets/icons/create-logo.svg" alt="create Icon" />
        create template
      </button>
    </div>
  </div>
  <div class="templates-table">
    <table class="table-container">
      <caption class="table-caption visually-hidden">
        Details of Templates
      </caption>
      <thead class="table-head">
        <tr>
          <th *ngFor="let heading of headings" class="table-header-cell">
            {{ heading }}
          </th>
        </tr>
      </thead>
      <tbody class="scrollable-table__body">
        <ng-container>
          <tr
            *ngFor="let template of xmlTemplates; let i = index"
            (click)="navigateToTemplateDetails(template.id)">
            <td class="table-cell">{{ template.name }}</td>
            <td class="table-cell">{{ template.description }}</td>
            <td class="table-cell">
              {{ template.created | date: 'MMM dd, yyyy' }}<br />
              <span class="time">{{ template.created | date: 'HH:mm' }}</span>
            </td>
            <td class="table-cell">
              {{ template.modified | date: 'MMM dd, yyyy' }}<br />
              <span class="time">{{ template.modified | date: 'HH:mm' }}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="page-view">
    <app-pagination
      [page]="page"
      (paginationEvent)="onPage($event)"></app-pagination>
  </div>

  <ng-template #createTemplateForm class="modal-content">
    <div class="header">
      <p class="header_title">Create Template</p>
      <button type="button" class="header_close-btn" (click)="closeModal()">
        <img src="assets/icons/close-circle.svg" alt="" />
      </button>
    </div>
    <div class="form-details">
      <div class="workflow-field">
        <span>Name</span>
        <input
          type="text"
          maxlength="255"
          placeholder="Enter Name"
          class="input-field"
          [(ngModel)]="newTemplateData.name" />
      </div>
      <div class="workflow-field">
        <span>Description</span>
        <input
          type="text"
          maxlength="255"
          placeholder="Enter Description"
          class="input-field"
          [(ngModel)]="newTemplateData.description" />
      </div>
      <div class="workflow-field">
        <span>Template</span>
        <textarea
          name="templateCode"
          id="templateCode"
          [(ngModel)]="newTemplateData.templateCode"
          rows="20"></textarea>
      </div>
    </div>
    <div class="buttons">
      <button class="cancel-btn" (click)="cancelChanges()">CANCEL</button>
      <button class="confirm-btn" (click)="createTemplate()">CONFIRM</button>
    </div>
  </ng-template>
</div>
