<div class="table">
  <table class="table-container">
    <caption class="table-caption visually-hidden">
      This Table shows The List of Workflows and viewInstances
    </caption>
    <thead class="table-head">
      <tr>
        <th *ngFor="let heading of headings" class="table-header-cell">
          <div class="table-header-content">
            {{ heading }}
          </div>
        </th>
        <th *ngIf="showActions" class="table-header-cell">
          <div class="table-header-content">ACTIONS</div>
        </th>
      </tr>
    </thead>
    <tbody class="scrollable-table__body">
      <ng-container *ngFor="let row of values">
        <tr (click)="onRowClick(row)">
          <td
            class="table-cell"
            *ngIf="showActions"
            (click)="navigateToInstance(row)">
            <span class="navBtn">{{ row[0] }} </span>
            <!-- Navigate to Instance ID -->
          </td>
          <td
            class="table-cell"
            *ngIf="showActions"
            (click)="navigateToWorkflow(row)">
            <span class="navBtn">{{ row[1] }} </span
            ><!--Navigate to Workflow Name -->
          </td>

          <!-- Render other row values -->
          <td
            *ngFor="let value of showActions ? row.slice(2) : row"
            class="table-cell">
            <ng-container *ngIf="isObject(value); else checkStatus">
              <!-- Toggle for pause -->
              <label
                class="toggle"
                type="button"
                (click)="onToggle($event, row)"
                *ngIf="isToggle">
                <input
                  type="checkbox"
                  [checked]="isToggleChange(toggleStates[row[4]?.id])" />
                <span
                  class="slider"
                  [ngClass]="{ 'paused-slider': isPauseProperty }"></span>
                <p class="tooltip" *ngIf="isPauseProperty">Globally Paused</p>
              </label>
            </ng-container>

            <!-- Render value display based on status -->
            <ng-template #checkStatus>
              <ng-container
                *ngIf="
                  [
                    'COMPLETED',
                    'CREATED',
                    'RUNNING',
                    'QUEUED',
                    'PAUSED'
                  ].includes(value);
                  else displayValue
                ">
                <div class="active-class">
                  <ng-container *ngIf="value === 'RUNNING'">
                    <div class="icon-item running">
                      <i class="fas fa-spinner fa-spin"></i>
                      <span>Running</span>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="value === 'QUEUED'">
                    <div class="icon-item queued">
                      <i class="fas fa-clock"></i>
                      <span>Queued</span>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="value === 'CREATED'">
                    <div class="icon-item created">
                      <i class="fa-regular fa-circle-check"></i>
                      <span>Created</span>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="value === 'PAUSED'">
                    <div class="icon-item paused">
                      <i class="fa-solid fa-circle-pause"></i>
                      <span>Paused</span>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #displayValue>
              <span [innerHTML]="value.html ? value.html : value"></span>
            </ng-template>
          </td>

          <!-- Show Actions button when required -->
          <td *ngIf="showActions" class="table-cell">
            <div class="buttons-container">
              <div class="tooltip-container">
                <img
                  src="assets/icons/priority-logo.svg"
                  type="button"
                  (click)="onEditPriority(row)"
                  alt="" />
                <p class="tooltip">Change priority</p>
              </div>
              <div class="tooltip-container">
                <i
                  type="button"
                  class="fas fa-trash-alt dlt"
                  (click)="onTerminateInstance(row)"></i>
                <p class="tooltip">Terminate Instance</p>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
