@import 'src/styles/button';

.workflow-details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .details-label {
    padding-inline: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f3f3;
    position: sticky;
    top: 64px;
    z-index: 10;

    .label-left {
      height: 30px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      text-transform: capitalize;

      .navigate-back-btn {
        border: none;
        background: #f3f3f3;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

    .log-main-container {
      width: 50%;
    }

    .artifacts-container {
      width: 50%;
    }
  }

  .detail-container {
    margin-inline: 15px;
    background: #fff;
    border-radius: 5px;
    padding: 20px 30px 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);

    p {
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 32px;
      color: #333;
    }

    .tables-main-container {
      display: flex;
      gap: 40px;

      .table-container {
        width: 50%;

        table {
          width: 100%;

          .detail-field-key {
            font-size: 14px;
            font-weight: bolder;
            font-style: normal;
            line-height: 17px;
            letter-spacing: 0.3px;
          }

          .detail-field-value {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            line-height: 17px;
            letter-spacing: 0.3px;
          }

          tr {
            border-bottom: 1px solid #e0e0e0;

            td {
              padding-block: 10px;
            }
          }

          tr:last-child {
            border-bottom: none;
          }
        }
      }
    }

    .log-container {
      height: 50vh;
      overflow: scroll;
      padding: 10px;
      border: 1px solid #e0e0e0;
      background: #f3f3f3;
      border-radius: 5px;
    }

    .file-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 10px;
      padding-block: 5px;
      border-bottom: 1px solid #e0e0e0;

      &:last-child {
        border-bottom: none;
      }

      div:first-child {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }
}
