<div class="workflow-details-container">
  <div class="details-label">
    <div class="label-left">
      <button
        class="navigate-back-btn"
        type="button"
        (click)="backToWorkflows()">
        <img
          src="/assets/icons/navigate-back-logo.svg"
          class="navigate-back-icon"
          alt="export Icon" />
      </button>
      <p>
        <span>{{ workflowsInstance.workflow?.name }}</span>
        <span> | </span>
        <span>{{ workflowsInstance.identifier }}</span>
      </p>
    </div>
  </div>

  <div class="detail-container">
    <p>Summary</p>
    <div class="tables-main-container">
      <div class="table-container">
        <table>
          <tr>
            <td class="detail-field-key">Identifier</td>
            <td class="detail-field-value">
              {{ workflowsInstance.identifier }}
            </td>
          </tr>
          <tr>
            <td class="detail-field-key">Workflow</td>
            <td class="detail-field-value">
              {{ workflowsInstance.workflow?.name }}
            </td>
          </tr>
          <tr>
            <td class="detail-field-key">Status</td>
            <td class="detail-field-value">{{ workflowsInstance.status }}</td>
          </tr>
          <tr>
            <td class="detail-field-key">Priority</td>
            <td class="detail-field-value">{{ workflowsInstance.priority }}</td>
          </tr>
        </table>
      </div>

      <div class="table-container">
        <table>
          <tr>
            <td class="detail-field-key">Created</td>
            <td class="detail-field-value">
              {{ workflowsInstance.created | date: 'MMM, dd YYYY HH:mm' }}
            </td>
          </tr>
          <tr>
            <td class="detail-field-key">Completed</td>
            <td class="detail-field-value">
              {{ workflowsInstance.completed | date: 'MMM, dd YYYY HH:mm' }}
            </td>
          </tr>
          <tr>
            <td class="detail-field-key">Duration</td>
            <td class="detail-field-value">
              {{ secondsToHHMMSS(workflowsInstance.duration) }}
            </td>
          </tr>
          <tr>
            <td class="detail-field-key">Error Message</td>
            <td class="detail-field-value">
              {{ workflowsInstance.errorMessage }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="detail-container log-main-container">
      <p>Logs</p>
      <div class="log-container">
        <pre class="log-items">{{ logsResponse }}</pre>
      </div>
    </div>

    <div class="detail-container artifacts-container">
      <p>Artifacts</p>
      <div>
        <div *ngFor="let step of filteredFiles" class="file-item">
          <div>
            <img
              [src]="getIcon(step.filename)"
              class="file-icon"
              alt="File Icon" />
            <div>
              {{ step.filename }}
            </div>
          </div>
          <button
            class="download-btn"
            (click)="downloadArtifact(step.id, step.filename)">
            <img
              src="/assets/icons/download-logo.svg"
              class="search-icon"
              alt="Search Icon" />
            <div>Download</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
