<div class="workflow-details-container">
  <div class="details-label">
    <div class="label-left">
      <button class="navigate-back-btn" type="button">
        <img
          src="/assets/icons/navigate-back-logo.svg"
          class="navigate-back-icon"
          alt="export Icon"
          (click)="backToWorkflows()" />
      </button>
      <p>{{ workflowName }}</p>
      <img
        src="assets/icons/bookmark-fill-logo.svg"
        alt="Bookmark Icon"
        class="bookmark-fill-icon" />
    </div>
    <div class="label-right">
      <button class="trigger-history-btn" type="button">Trigger History</button>
    </div>
  </div>
  <div class="details-section">
    <div class="details-info">
      <p>Triggered Times</p>
      <p>{{ totalInstancesCount$ | async }}</p>
    </div>
    <div class="details-info">
      <p>Failed Instances</p>
      <p>{{ errorInstances$ | async }}</p>
    </div>
    <div class="details-info">
      <p>Avg.Executed Time</p>
      <p>19 m</p>
    </div>
    <div class="details-info">
      <p>Delivered Items</p>
      <p>{{ deliveredInstances$ | async }}</p>
    </div>
  </div>
  <div class="details-filter">
    <div class="left-filter">
      <button class="instances-btn" type="button">Instances</button>
      <button class="error-instances-btn" type="button">Error Instances</button>
    </div>
    <div class="right-filter">
      <img
        src="/assets/icons/standard-logo.svg"
        class="standard-logo"
        alt="create Icon" />
      <button class="export-btn" type="button">
        <img
          src="/assets/icons/export-logo.svg"
          class="export-icon"
          alt="export Icon" />
        Export
      </button>
    </div>
  </div>
</div>
<div class="workflows-instance-table">
  <app-workflow-table
    [workflows$]="workflowInstances$"
    [headings]="instanceHeadings"
    [isWorkflow]="false"
    (increasePageEvent)="increaseLimitWorkflows($event)"></app-workflow-table>
</div>
