.workflow-details-container {
  margin-top: 55px;
  width: 98%;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  z-index: 10;
  top: 60px;
  background-color: white;
  .details-label {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    .label-left {
      height: 30px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      text-transform: capitalize;
      .navigate-back-btn {
        border: none;
        border: 1px solid #ffffff;
        background-color: white;
        .navigate-back-icon {
          margin-bottom: 5px;
        }
      }
      .workflow-label {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .bookmark-fill-icon {
        height: 25px;
        width: 25px;
        margin-top: 2px;
      }
    }
    .trigger-history-btn {
      height: 40px;
      width: 151px;
      border-radius: 4px;
      padding: 10px 20px;
      background-color: #262626;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  .navigate-tabs {
    background-color: #f9fafb;
    height: 55px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 10px 14px;
    gap: 16px;
    margin-bottom: 20px;
    .buttons {
      height: 40px;
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      .general-button {
        height: 40px;
        border-radius: 6px;
        padding: 8px 12px;
        border: none;
        background-color: #f9fafb;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #344054;
      }
      .settings-button {
        height: 40px;
        border-radius: 6px;
        padding: 8px 12px;
        border: none;
        background-color: #f9fafb;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #344054;
      }
      .history-button {
        height: 40px;
        border-radius: 6px;
        padding: 8px 12px;
        border: none;
        background-color: #f9fafb;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #344054;
      }
      .active-button {
        background-color: #ffffff;
        border-radius: 4px;
        font-weight: 600;
      }
    }
  }
}

.workflow-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .workflows-label {
    width: 134px;
    height: 32px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }
  .workflow-header-right {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    .searchField {
      width: 400px;
      height: 40px;
      border-radius: 4px;
      padding: 9px 16px 9px 16px;
      background-color: #ffffff;
      border: 1px solid #c5c5c5;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: #666666;
    }
    .searchButton {
      width: 119px;
      height: 40px;
      border-radius: 4px;
      padding: 10px 20px;
      gap: 12px;
      background-color: #ca0a3d;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  }
}

.no-instances-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
