<div class="workflow-details-container">
  <div class="details-label">
    <div class="label-left">
      <button
        class="navigate-back-btn"
        type="button"
        (click)="backToWorkflows()">
        <img
          src="/assets/icons/navigate-back-logo.svg"
          class="navigate-back-icon"
          alt="export Icon" />
      </button>
      <div>
        {{ workflow?.name }}
      </div>
      <ng-container *ngIf="workflow?.paused; else activOrInactive">
        <img
          src="assets/icons/paused-logo.svg"
          alt="Active Icon"
          class="active-status-icon" />
      </ng-container>
      <ng-template #activOrInactive>
        <ng-container [ngSwitch]="workflow?.status">
          <img
            *ngSwitchCase="'ACTIVE'"
            src="assets/icons/active-logo.svg"
            alt="Active Icon"
            class="active-status-icon" />
          <img
            *ngSwitchCase="'INACTIVE'"
            src="assets/icons/inactive-logo.svg"
            alt="Inactive Icon"
            class="" />
          <img
            *ngSwitchCase="'NOT_RUNNABLE'"
            src="assets/icons/disabled-logo.svg"
            alt="Inactive Icon"
            class="" />
        </ng-container>
      </ng-template>
    </div>
  </div>

  <div class="navigate-btn-container">
    <button
      class="navigate-btn"
      (click)="selectTab('general')"
      [class.active-btn]="selectedTab === 'general'">
      General
    </button>
    <button
      class="navigate-btn"
      (click)="selectTab('workflow')"
      [class.active-btn]="selectedTab === 'workflow'">
      Workflow Configurations
    </button>
    <button
      class="navigate-btn"
      (click)="selectTab('history')"
      [class.active-btn]="selectedTab === 'history'">
      Deliveries
    </button>
    <button
      class="navigate-btn"
      (click)="selectTab('statistics')"
      [class.active-btn]="selectedTab === 'statistics'">
      Statistics
    </button>
  </div>

  <div class="detail-views">
    <ng-container *ngIf="selectedTab === 'general'">
      <app-workflow-general
        [workflow]="workflow"
        [workflowCopy]="workflowCopy"
        [emails]="emails"
        (workflowEmailEvent)="workflowEmailSettings($event)"
        (updateWorkflowEvent)="updateWorkflow($event)"></app-workflow-general>
    </ng-container>

    <ng-container *ngIf="selectedTab === 'history'">
      <app-workflow-history> </app-workflow-history>
    </ng-container>

    <ng-container *ngIf="selectedTab === 'statistics'">
      <app-workflow-statistics-view> </app-workflow-statistics-view>
    </ng-container>

    <ng-container *ngIf="selectedTab === 'workflow'">
      <app-workflow-settings [workflowId]="workflowId"> </app-workflow-settings>
    </ng-container>
  </div>
</div>
