.workflow-details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .details-label {
    padding-inline: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f3f3;
    // position: sticky;
    // top: 64px;
    // z-index: 10;
    .label-left {
      height: 30px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      text-transform: capitalize;
      .navigate-back-btn {
        border: none;
        background: #f3f3f3;
        &:hover {
          cursor: pointer;
        }
      }
      .workflow-label {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .bookmark-fill-icon {
        height: 25px;
        width: 25px;
        margin-top: 2px;
      }
      .status-icon {
        padding: 5px;
      }
    }
    .trigger-history-btn {
      height: 40px;
      width: 151px;
      border-radius: 4px;
      padding: 10px 20px;
      background-color: #262626;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  .navigate-btn-container {
    background: #222;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    // position: sticky;
    // z-index: 10;
    // top: 121px;
    align-items: center;
    margin-inline: 15px;
    .navigate-btn {
      background: none;
      border: none;
      color: #c4c4c4;
      padding-inline: 20px;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    .active-btn {
      color: #ffff;
    }
  }
}

.workflow-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .workflows-label {
    width: 134px;
    height: 32px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }
  .workflow-header-right {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    .searchField {
      width: 400px;
      height: 40px;
      border-radius: 4px;
      padding: 9px 16px 9px 16px;
      background-color: #ffffff;
      border: 1px solid #c5c5c5;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: #666666;
    }
    .searchButton {
      width: 119px;
      height: 40px;
      border-radius: 4px;
      padding: 10px 20px;
      gap: 12px;
      background-color: #ca0a3d;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  }
}

.no-instances-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.detail-views {
  height: 75vh;
  overflow-y: auto;
}
