<table class="table-container">
  <thead class="table-head">
    <tr>
      <th
        *ngFor="let heading of headings"
        class="table-header-cell"
        [style.top]="isWorkflow ? '230px' : '303px'">
        <div class="table-header-content">
          {{ heading }}
          <ng-container
            *ngIf="
              [
                'Workflow Name',
                'Status',
                'Last Run On',
                'Last Run Status',
                'Priority',
                'Queued On',
                'Started On',
                'Duration',
                'Delivery Type'
              ].includes(heading)
            ">
            <img
              src="assets/icons/down-arrow-logo.svg"
              alt="{{ heading }} Icon"
              class="heading-icon" />
          </ng-container>
        </div>
      </th>
    </tr>
  </thead>
  <tbody
    class="scrollable-table__body"
    infinite-scroll
    [infiniteScrollDistance]="3"
    [infiniteScrollThrottle]="50"
    [immediateCheck]="true"
    (scrolled)="increaseLimitWorkflows()">
    <ng-container *ngIf="isWorkflow">
      <tr
        *ngFor="let workflow of workflows$ | async; let i = index"
        (click)="viewInstances(workflow.id, workflow.name)"
        [ngClass]="{ 'first-child-padding': i === 0 }">
        <td class="table-cell">{{ workflow.id }}</td>
        <td class="table-cell">{{ workflow.name }}</td>
        <td class="table-cell">
          <div class="status-content">
            <ng-container *ngIf="workflow.enabled; else inactiveLogo">
              <img
                src="assets/icons/active-logo.svg"
                alt="Active Icon"
                class="active-status-icon" />
            </ng-container>
            <ng-template #inactiveLogo>
              <img
                src="assets/icons/inactive-logo.svg"
                alt="Inactive Icon"
                class="inactive-status-icon" />
            </ng-template>
          </div>
        </td>
        <td class="table-cell">
          {{ workflow.created | date: 'yyyy-MM-dd' }}<br />
          <span class="time">{{ workflow.created | date: 'HH:mm' }}</span>
        </td>
        <td class="table-cell">{{ workflow.paused }}</td>
        <td class="table-cell">
          <div class="action-content">
            <img
              [src]="
                workflow.enabled
                  ? 'assets/icons/pause-logo.svg'
                  : 'assets/icons/resume-logo.svg'
              "
              alt="Pause Icon"
              class="action-icon"
              (click)="pauseWorkflow($event, workflow)" />

            <img
              src="assets/icons/copy-logo.svg"
              alt="Copy Icon"
              class="action-icon" />
            <img
              src="assets/icons/bookmark-logo.svg"
              alt="Bookmark Icon"
              class="action-icon" />
          </div>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!isWorkflow">
      <ng-container *ngFor="let workflow of workflows$ | async">
        <tr>
          <td class="table-cell">
            <div class="id-heading">
              <span>{{ workflow.id }}</span>
              <img
                src="assets/icons/copy-logo.svg"
                alt="Copy Icon"
                class="action-icon" />
            </div>
          </td>
          <td class="table-cell">
            {{ workflow.created | date: 'yyyy-MM-dd' }}<br />
            <span class="time">{{ workflow.created | date: 'HH:mm' }}</span>
          </td>
          <td class="table-cell">
            {{ workflow.created | date: 'yyyy-MM-dd' }}<br />
            <span class="time">{{ workflow.created | date: 'HH:mm' }}</span>
          </td>
          <td class="table-cell">{{ workflow.duration }}</td>
          <td class="table-cell"></td>
          <td class="table-cell">
            <div class="status-content">
              <ng-container
                *ngIf="
                  workflow.status === 'COMPLETED' ||
                    workflow.status === 'CREATED' ||
                    workflow.status === 'RUNNING';
                  else inactiveLogo
                ">
                <div class="active-class">
                  <img
                    src="assets/icons/success-logo.svg"
                    alt="Active Icon"
                    class="success-icon" />
                  <p>Success</p>
                </div>
              </ng-container>

              <ng-template #inactiveLogo>
                <div class="inactive-class">
                  <img
                    src="assets/icons/failure-logo.svg"
                    alt="Active Icon"
                    class="failure-icon" />
                  <p>Error</p>
                </div>
              </ng-template>
            </div>
          </td>
          <td class="table-cell">
            <ng-container [ngSwitch]="workflow.priority">
              <img *ngSwitchCase="'LOW'" src="assets/icons/low.svg" />
              <img *ngSwitchCase="'MEDIUM'" src="assets/icons/high.svg" />
              <img *ngSwitchCase="'HIGH'" src="assets/icons/high.svg" />
              <img *ngSwitchDefault src="assets/icons/default.svg" />
            </ng-container>
          </td>

          <td class="table-cell">
            <div class="action-content" (click)="expandInstance(workflow)">
              <img
                src="assets/icons/down-arrow-logo.svg"
                alt="Pause Icon"
                class="action-icon"
                [class.rotate]="expandedInstaceId === workflow.id" />
            </div>
          </td>
        </tr>
        <tr *ngIf="expandedInstaceId === workflow.id">
          <td colspan="8">
            <div class="expanded-instance">
              <div class="message-section">
                <p class="status">
                  Success <br />
                  <span class="status-info"
                    >Succesful delivered at
                    {{ workflow.modified | date: 'yyyy-MM-dd' }}
                    <span>{{ workflow.created | date: 'HH:mm' }}</span></span
                  >
                </p>
                <button class="view-instance-detail-btn">
                  VIEW INSTANCE DETAIL
                </button>
              </div>
              <div class="logs-section">
                <p class="logs">Logs</p>
                <div class="log-items-container">
                  <p class="log-items" *ngFor="let log of logsResponse">
                    {{ (log ? '[' : '') + log }}
                  </p>
                </div>
              </div>
              <div class="file-section">
                <p class="files-heading">Files</p>
                <div class="file-actions">
                  <div *ngFor="let step of stepList" class="file-item">
                    {{ step.filename }}
                    <div class="file-action-buttons">
                      <button class="view-file-btn">
                        <img
                          src="/assets/icons/view-logo.svg"
                          class="search-icon"
                          alt="Search Icon" />View File
                      </button>
                      <button
                        class="download-btn"
                        (click)="downloadArtifact(step.id, step.filename)">
                        <img
                          src="/assets/icons/download-logo.svg"
                          class="search-icon"
                          alt="Search Icon" />
                        Download
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
