.table-container {
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  .table-header-cell {
    width: 98rem;
    height: 36px;
    background-color: #f9fafb;
    border-width: 0px 0px 1px 0px;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
    padding-left: 15px;
    font-weight: 400 !important;
    letter-spacing: 0.5px;
    position: sticky;
    z-index: 10;
    .table-header-content {
      font-size: 12px;
      line-height: 14.52px;
      text-transform: uppercase;
      color: #656565;
      .heading-icon {
        margin-inline: 0.5rem;
      }
    }
  }
  .first-child-padding .table-cell {
    padding-block: 15px;
  }
  .table-cell {
    height: 64px;
    border-width: 0px 0px 1px 0px;
    border-bottom: 1px solid #f2f2f2;
    padding-block: 10px;
    padding-left: 15px;
    align-items: center;
    .id-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .status-content {
      .active-class {
        display: flex;
        flex-direction: row;
        gap: 6px;
      }
      .inactive-class {
        display: flex;
        flex-direction: row;
        gap: 6px;
      }
    }
    .action-icon {
      padding: 0px 10px;
      background-color: #ffffff;
      margin-inline: 0.1rem;
    }
  }
}
