<div class="account-dialog-wrapper">
  <div class="account__header">
    <div class="account__header_title">
      <h2>Account Information</h2>
    </div>
    <button
      type="button"
      class="account__header_close-btn"
      (click)="closeModal(false)">
      <img src="assets/icons/close-circle.svg" alt="close modal" />
    </button>
  </div>

  <div class="account__body noscroll">
    <ng-container *ngIf="userDataLoaded">
      <!-- <div class="user-details">
        <h4>User Details</h4>
        <p>Name:{{ user.principal.fullName }}</p>
        <p>Email:{{ user.principal.email }}</p>
        <p>User Name:{{ user.principal.preferredUsername }}</p>
      </div> -->

      <div class="user-roles">
        <h4 class="item-heading">Permissions</h4>
        <ul class="item-list noscroll" *ngIf="userAuthorities">
          <ng-container *ngFor="let role of userAuthorities">
            <li class>{{ role }}</li>
          </ng-container>
        </ul>
      </div>

      <div>
        <h4 class="item-heading">Time Zone</h4>
        <div class="toggle-container">
          <label class="toggle">
            <input
              id="timezone-toggle"
              type="checkbox"
              [checked]="isUTC"
              (change)="toggleTimeFormat()" />
            <span class="slider"></span>
          </label>
          <label class="toggle-text" for="timezone-toggle">{{
            isUTC ? 'UTC Time' : 'Local Time'
          }}</label>
        </div>
      </div>
    </ng-container>

    <div *ngIf="!userDataLoaded" class="nodata">
      Failed to fetch user permissions.
    </div>
  </div>
</div>
