<div class="monitor-component">
  <div class="monitor-heading-section">
    <div class="monitor-label">
      <p>Monitor</p>
    </div>
  </div>

  <div class="navigate-btn-container">
    <div class="left-buttons">
      <button
        class="navigate-btn"
        (click)="updateParams('RUNNING')"
        [class.active-btn]="pageParams.status === 'RUNNING'">
        Processing - {{ runningInstancesCount }}
      </button>
      <button
        class="navigate-btn"
        (click)="updateParams('PENDING')"
        [class.active-btn]="pageParams.status === 'PENDING'">
        Pending - {{ pendingInstancesCount }}
      </button>
    </div>
    <button class="navigate-btn" type="button" (click)="pauseInstances()">
      <img
        src="assets/icons/pause-logo.svg"
        class="pause-icon"
        alt="pause Icon" />PAUSE
    </button>
  </div>

  <div class="monitor-instance-table">
    <table class="table-container">
      <caption class="table-caption visually-hidden">
        This Table shows all the Instances which are in Queued Status
      </caption>
      <thead class="table-head">
        <tr>
          <th *ngFor="let heading of headings" class="table-header-cell">
            {{ heading }}
          </th>
        </tr>
      </thead>
      <tbody class="scrollable-table__body">
        <ng-container *ngFor="let instance of instances">
          <tr>
            <td class="table-cell">{{ instance.id }}</td>
            <td class="table-cell">{{ instance.workflow.name }}</td>
            <td class="table-cell">{{ instance.identifier }}</td>
            <td class="table-cell">
              {{ instance.created | date: 'yyyy-MM-dd' }}<br />
              <span class="time">{{ instance.created | date: 'HH:mm' }}</span>
            </td>
            <td class="table-cell">
              <div class="action-content" (click)="expandAction(instance)">
                <img
                  src="assets/icons/down-arrow-logo.svg"
                  alt="Pause Icon"
                  class="action-icon"
                  [class.rotate]="expandedId === instance.id" />
              </div>

              <!-- <div class="expanded-row">
                <button
                  class="cancel-button"
                  type="button"
                  (click)="terminateInstance(instance.id)">
                  CANCEL
                </button>
              </div> -->
            </td>
          </tr>

          <tr *ngIf="expandedId === instance.id">
            <td colspan="12" class="expanded-td">
              <div class="expanded-row">
                <div>
                  <h6>Instance Is Pending To Run</h6>
                </div>
                <div class="buttons-container">
                  <button
                    class="change-priority-button"
                    type="button"
                    (click)="editPriority(instance, changePriorityForm)">
                    CHANGE PRIORITY
                    <img src="assets/icons/priority-logo.svg" alt="" />
                  </button>
                  <button
                    class="cancel-button"
                    type="button"
                    (click)="terminateInstance(instance.id)">
                    CANCEL
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="page-view">
    <app-pagination
      [page]="page"
      (paginationEvent)="onPage($event)"></app-pagination>
  </div>
</div>

<div
  *ngIf="pageParams.status === 'PENDING' && noPendingInstances"
  class="no-pendingInstances-message">
  No Pending Instances Found
</div>

<div
  *ngIf="pageParams.status === 'RUNNING' && noRunningInstances"
  class="no-pendingInstances-message">
  No Running Instances Found
</div>
<ng-template #changePriorityForm class="modal-content">
  <div class="header">
    <p class="header_title">Change Priority</p>
    <button type="button" class="header_close-btn" (click)="closeModal()">
      <img src="assets/icons/close-circle.svg" alt="" />
    </button>
  </div>
  <div class="form-details">
    <div class="workflowInstance-field">
      <p>Priority</p>
      <ng-select
        [items]="priorityConstants"
        placeholder="Select Type"
        bindLabel="label"
        bindValue="value"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="priority">
      </ng-select>
    </div>
  </div>
  <div class="buttons">
    <button class="cancel-btn" (click)="cancelChangesForPriority()">
      CANCEL
    </button>
    <button class="confirm-btn" (click)="updatePriority()">CONFIRM</button>
  </div>
</ng-template>
