<div class="monitor-component">
  <!-- <div class="monitor-heading-section">
    <div class="monitor-label">
      <p>Monitor</p>
    </div>
  </div> -->

  <div class="navigate-btn-container">
    <div class="left-buttons">
      <button
        class="navigate-btn"
        (click)="switchTab('running')"
        [class.active-btn]="activeTab === 'running'">
        Running - {{ runningInstancesCount }}
      </button>
      <button
        class="navigate-btn"
        (click)="switchTab('pending')"
        [class.active-btn]="activeTab === 'pending'">
        Pending - {{ pendingInstancesCount }}
      </button>
      <button
        class="navigate-btn"
        (click)="switchTab('workflow')"
        [class.active-btn]="activeTab === 'workflow'">
        Processing by workflow
      </button>
    </div>
    <div>
      <!-- Toggle for pause -->
      <label class="global-toggle-text">Global Pause</label>
      <label class="toggle">
        <input
          type="checkbox"
          [checked]="isChecked"
          (change)="pauseInstances()" />
        <span class="slider" [ngClass]="{ 'paused-slider': isChecked }"></span>
      </label>
    </div>
  </div>

  <ng-container *ngIf="activeTab === 'running'">
    <app-running> </app-running>
  </ng-container>

  <ng-container *ngIf="activeTab === 'pending'">
    <app-pending></app-pending>
  </ng-container>

  <ng-container *ngIf="activeTab === 'workflow'">
    <app-processing-by-workflow></app-processing-by-workflow>
  </ng-container>
</div>
