.monitor-component {
  width: 98%;
  margin: 80px 15px 25px;
  .monitor-heading-section {
    .monitor-label {
      height: 40px;
      color: #000000;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  .monitor-buttons-section {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 249px;
    height: 40px;
    color: #344054;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    .running {
      display: flex;
      gap: 10px;
      padding: 8px, 12px;
      border-radius: 4px;
      text-align: center;
      .running-button {
        background-color: #ffffff;
        border: none;
        color: #344054;
      }
      .running-instances-count {
        margin-top: 8px;
      }
    }
    .pending {
      display: flex;
      gap: 10px;
      padding: 8px, 12px;
      border-radius: 4px;
      text-align: center;
      .pending-button {
        background-color: #ffffff;
        border: none;
        color: #344054;
      }
      .pending-instances-count {
        margin-top: 8px;
      }
    }
  }
  .table-container {
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-collapse: collapse;
    table-head {
      background-color: white;
    }
    .table-header-cell {
      width: 98rem;
      height: 36px;
      background-color: #f9fafb;
      border-width: 0px 0px 1px 0px;
      border-bottom: 1px solid #f2f2f2;
      text-align: left;
      font-weight: 400 !important;
      letter-spacing: 0.5px;
      position: sticky;
      z-index: 10;
      padding: 0px 10px;
      .table-header-content {
        font-size: 12px;
        line-height: 14.52px;
        text-transform: uppercase;
        color: #656565;
        .heading-icon {
          margin-inline: 0.5rem;
        }
      }
    }
    .scrollable-table__body {
      .table-cell {
        padding: 10px;
      }
    }
    .scrollable-table__body tr:hover {
      cursor: pointer;
      background-color: #f9fafb;
    }
  }
}

.page-view {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
