<div class="workflow-container">
  <div class="workflows-section">
    <!-- <div class="workflow-header">
            <div class="workflows-label">
                <p id="track-assets-copy">Workflows</p>
            </div>
            <div class="workflow-header-right">
                <div class="searchBar">
                    <input type="text" class="searchField" name="searchInput" placeholder="Search in Workflow" required />
                </div>
                <div class="search-button">
                    <button class="searchButton" type="button">
            <img
              src="/assets/icons/search.svg"
              class="search-icon"
              alt="Search Icon" />
            Search
          </button>
                </div>
                <div class="createWorkflow-button">
                    <button class="createWorkflowButton" type="button">
            <img
              src="/assets/icons/create-logo.svg"
              class="create-icon"
              alt="create Icon" />
            Create Workflow
          </button>
                </div>
            </div>
        </div>

        <div class="workflow-contents">
            <div class="contents-span">
                <span>YouTube ContentId</span>
                <span> Spotify Test </span>
                <span> ADA Digital </span>
                <span> Facebook Audio UGC </span>
                <span> ADA - Video (Co-op) </span>
            </div>
            <div class="actions">
                <img src="/assets/icons/standard-logo.svg" class="bookmark-icon" alt="create Icon" />
                <button class="bookmark-button">All Bookmark</button>
            </div>
        </div>-->
  </div>

  <div class="workflows-table">
    <app-workflow-table
      [workflows]="workflowsData"
      [headings]="headings"
      [isWorkflow]="true"
      (workflowDetailEvent)="viewInstances($event)"
      (workflowUpdateEvent)="pauseWorkflow($event)"
      (getSortParam)="sortColumn($event)"></app-workflow-table>
  </div>
</div>

<div class="page-view">
  <app-pagination
    [page]="page"
    (paginationEvent)="onPage($event)"></app-pagination>
</div>
