<div class="workflow-container">
  <div class="workflows-section">
    <div class="heading-section">
      <div class="workflow-header">
        <div class="workflows-label">
          <p id="track-assets-copy">Workflows</p>
          <button
            type="button"
            class="filter-bookmarks-btn"
            (click)="fetchBookmarkedWorkflows()"
            [tooltip]="'Show Bookmarks'">
            <img src="assets/icons/bookmark-logo.svg" alt="" />
          </button>
        </div>
        <div class="workflow-header-right">
          <div>
            <input
              type="text"
              class="search-field"
              name="searchInput"
              placeholder="Search in Workflow"
              [(ngModel)]="workflowName"
              required />
            <button
              type="button"
              *ngIf="workflowName"
              class="clear-icon"
              (click)="clearInput()">
              <img src="assets/icons/close-circle.svg" alt="" />
            </button>
          </div>
          <div class="search-button">
            <button
              class="btn btn--red"
              type="button"
              (click)="searchWorkflow()">
              <img
                src="/assets/icons/search.svg"
                class="search-icon"
                alt="Search Icon" />
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="workflows-table">
      <app-workflow-table
        [isWorkflow]="true"
        [workflows]="filteredWorkflows"
        [headings]="headings"
        [bookmarkedIds]="bookmarkedIds"
        (workflowDetailEvent)="viewInstances($event)"
        (workflowUpdateEvent)="pauseWorkflow($event)"
        (bookMarkEvent)="toggleBookmark($event)"
        (getSortParam)="sortColumn($event)"></app-workflow-table>
      <div *ngIf="noWorkflows" class="no-workflows-message">
        No Workflows Found
      </div>
    </div>
    <div class="page-view" *ngIf="!noWorkflows">
      <app-pagination [page]="page" (paginationEvent)="onPage($event)">
      </app-pagination>
    </div>
  </div>
</div>
