<div class="workflow">

    <div class="workflow-heading">
        <h2>Workflows</h2>

        <div class="left-workflow-heading">
            <input type="text" id="searchInput" name="searchInput" placeholder="Search in Workflow" required>
            <button id="searchButton" type="button">
                <img src="/assets/icons/search.svg" class="nav-container__link-icon" alt="Search Icon" style="vertical-align: middle;" /> Search
            </button>
            <button id="createWorkflowButton" type="button">
                <img src="/assets/icons/create-logo.svg" class="nav-container__link-icon" alt="create Icon" style="vertical-align: middle;" /> CREATE WORKFLOW
            </button>
        </div>

    </div>

    <div class="workflow-contents">
        <div class="contents-span">
            <span>YouTube ContentId</span>
            <span> Spotify Test </span>
            <span> ADA Digital </span>
            <span> Facebook Audio UGC </span>
            <span> ADA - Video (Co-op) </span>
        </div>
        <button>All Bookmark</button>
    </div>

    <div class=" workflows-table ">
        <h4> Workflow List </h4>
        <app-workflow-table [workflows]="workflowsData"></app-workflow-table>
    </div>

</div>