@import 'src/styles/datepicker.scss';
@import 'src/styles/button';
@import 'src/styles/ngselect.scss';
.workflow-container {
  // background: #fff;
  .workflows-section {
    .heading-section {
      .workflow-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 69px;
        padding-inline: 20px;
        background: #fff;
        .workflows-label {
          display: flex;
          gap: 5px;
          width: 134px;
          font-weight: 600;
          font-size: 26px;
          line-height: 32px;
          color: #000000;
        }
        .workflow-header-right {
          height: 40px;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          .search-field {
            height: 40px;
            padding: 9px 256px 9px 16px;
            background-color: #ffffff;
            border: 1px solid #c5c5c5;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: #666666;
          }
          .clear-icon {
            position: absolute;
            top: 8px;
            right: 135px;
            cursor: pointer;
            border: none;
            outline: none;
            background: white;
            height: 20px;
          }
        }
      }
    }
    .workflows-table {
      height: 82vh;
      padding: 0px 20px 20px 20px;
    }
  }
}

.page-view {
  padding-right: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.no-workflows-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: absolute;
  top: 25vh;
  font-size: 15px;
}

::ng-deep .modal-dialog {
  // max-width: 70%;
  position: sticky;
  top: 120px;
  z-index: 1000;
  .modal-content {
    // height: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 6px;
    border: none !important;
    .form-details {
      display: flex;
      height: 100%;
      font-family: 'Graphik', sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #828282;
      .side-bar {
        background-color: #262626;
        width: 30%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        .field {
          width: 100%;
          box-sizing: border-box;
          font-size: 16px;
          letter-spacing: 0.3px;
          color: white;
          border-bottom: 1px solid #1a1919;
          .input-field {
            display: inline-flex;
            width: 100%;
            padding: 10px 10px 10px 40px;
            font-size: 15px;
            line-height: 22px;
            cursor: pointer;
          }
          .checkmark-icon {
            position: absolute;
            left: 15px;
            margin-top: 5px;
          }
        }
        .buttons {
          padding: 10px;
          gap: 12px;
          margin-top: 40px;
          display: flex;
          align-items: center;
        }
      }
      .form-content {
        width: 80%;
        padding-inline: 30px;
        margin-top: 20px;
        .button-group {
          margin-top: 10px;
          margin-left: 340px;
          gap: 5px;
          display: flex;
        }
      }
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .header_title {
    font-family: Graphik, serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;
    height: 39px;
    color: black;
    margin-bottom: 0px !important;
  }
  .header_close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    height: 20px;
  }
}
::ng-deep .cdk-overlay-container {
  z-index: 10000 !important;
}

.selected {
  background-color: white;
  color: #262626;
}

.custom-checkbox {
  position: relative;
  top: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

.radio__icon {
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition:
    background-color 0.3s,
    border 0.3s;
}

.radio__icon.checked {
  border: 2px solid #ca0a3d;
  background-color: #ca0a3d;
}

.radio__icon.checked img {
  display: block;
}

.radio__icon img {
  display: none;
}

.checkbox-input:checked + .radio__icon {
  border: 2px solid #ca0a3d;
  background-color: #ca0a3d;
}

.checkbox-input:checked + .radio__icon img {
  display: block;
}

.custom-checkbox span {
  color: black;
  font-weight: 400;
}

.applied-filters {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  margin-left: 180px;
  align-items: center;
  gap: 2px;
}

.filter-badge {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  .filter-label {
    color: #333;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
  }
  .filter-value {
    color: #333;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
  }
}

.filter-badge:nth-child(n + 4) {
  display: none;
}

.filter-remove-btn {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.showfilter {
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.delete-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.label-heading {
  font-size: 14px;
  color: #262626;
}

.label-value {
  font-size: 14px;
}

::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  position: unset !important;
  cursor: pointer;
}

::ng-deep .ng-clear-wrapper[title='Clear all'] {
  visibility: hidden !important;
}

::ng-deep .ng-value.ng-star-inserted {
  background-color: transparent !important;
  cursor: pointer;
}

.selected-date {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 40px;
}

.date-label {
  flex-grow: 1;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.more-filters {
  color: #262626;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.workflow-btn {
  width: 164px;
  height: 40px;
}

// Below CSS for create workflow modal - start
::ng-deep .modal-dialog {
  max-width: 70%;
  .create-workflow-modal {
    background-color: #fff;
    // padding: 25px;
    border: 0px solid transparent;
    border-radius: 8px;
    .deliver-type-con {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      .deliver-type {
        height: 80px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        .filled {
          width: 30%;
          background-color: #a19898;
        }
        .text {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.active {
          border: 2px solid black; /* Highlight color for active selection */
        }
      }
    }
    .workflow-type-con {
      width: 30%;
      display: flex;
      justify-content: space-between;
      margin-left: 20px;

      .workflow-type {
        height: 150px;
        width: 100px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-between;
        padding: 5px;
        .filled {
          height: 70%;
          width: 100%;
          background-color: #a19898;
        }
        .text {
          height: 30%;
          width: 100%;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.active {
          border: 2px solid black; /* Highlight color for active selection */
        }
      }
    }
  }
}
// .container { width: 400px; margin: auto; }
.tabs {
  background-color: #1a1919;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}
.tab {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f4f4f;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.tab.active {
  background-color: #333;
  color: #fff;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}
.cancleBtn {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nxtBtn {
  background-color: #ca0a3d;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: 0px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.prevBtn {
  background-color: #ca0a3d;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border: 0px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right-button-con {
  display: flex;
  width: 300px;
}

// form div {
//   margin-bottom: 15px;
// }
label {
  display: block;
  margin-top: 10px;
}

.content {
  margin-inline: 40px;
  height: 400px;
}

.nxtBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5; /* Opacity effect for disabled button */
}

.typee-con {
  margin-top: 10px;
  margin-bottom: 30px;
}
h3 {
  margin-bottom: 20px;
}
.workflow-field {
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  letter-spacing: 0.3px;
  padding-top: 15px;
  color: #344054;
  .input-field {
    width: 100%;
    height: 44px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    margin-top: 10px;
  }
  .text-field {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
  }
}
.workflow-info-con {
  margin-inline: 50px;
}
.errorMsg {
  color: #f44336;
  font-size: 12px;
  font-weight: 300;
}
// Below CSS for create workflow modal - end
