<div class="main-container">
  <p>FTP Uploader Settings</p>

  <div
    class="fields-container"
    *ngIf="workflowStep?.workflowStepConfigurations">
    <div class="field-item" *ngFor="let field of fields">
      <div *ngIf="field; in: availableKeys">
        <span>{{ field.label }}</span>
        <input
          type="text"
          maxlength="255"
          placeholder="Enter {{ field.label }}"
          class="input-field"
          [ngModel]="getFieldValue(field.key)"
          (ngModelChange)="setFieldValue(field.key, $event)" />
      </div>
    </div>
  </div>
</div>
