.workflow-history-container {
  height: 75vh;
  width: 98%;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: white;

  .workflows-instance-table {
    height: 65vh;
    position: relative;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .page-view {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .no-instances-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
