@import 'src/styles/datepicker.scss';
@import 'src/styles/button';
@import 'src/styles/ngselect.scss';
.workflow-history-container {
  height: 100%;
  width: 98%;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  .btn {
    &--red {
      position: absolute;
      top: 84px;
      right: 0;
      margin-right: 15px;
    }
  }
  .workflows-instance-table {
    height: 90%;
    position: relative;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .page-view {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
  }
  .no-instances-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}

.workflow-history-container.blurred {
  opacity: 0.5;
  pointer-events: none;
}

::ng-deep .modal-dialog {
  max-width: 800px;
  position: sticky;
  top: 150px;
  z-index: 1000;
  .modal-content {
    height: 555px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 6px;
    border: none !important;
    .form-details {
      display: flex;
      height: 100%;
      font-family: 'Graphik', sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #828282;
      .side-bar {
        background-color: #262626;
        width: 30%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        .field {
          width: 100%;
          box-sizing: border-box;
          font-size: 16px;
          letter-spacing: 0.3px;
          color: white;
          border-bottom: 1px solid #1a1919;
          .input-field {
            display: inline-flex;
            width: 100%;
            padding: 10px 10px 10px 40px;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
          }
          .checkmark-icon {
            position: absolute;
            left: 15px;
            margin-top: 5px;
          }
        }
        .buttons {
          padding: 10px;
          gap: 12px;
          margin-top: 40px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }
      }
      .form-content {
        width: 80%;
        padding-inline: 20px;
        margin-top: 20px;
        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          .header_title {
            font-family: Graphik, serif;
            font-size: 22px;
            font-weight: 500;
            font-style: normal;
            line-height: 40px;
            height: 39px;
            color: black;
            margin-bottom: 0px !important;
          }
          .header_close-btn {
            cursor: pointer;
            border: none;
            outline: none;
            background: white;
            height: 20px;
          }
        }
        .button-group {
          margin-top: 10px;
          margin-left: 340px;
          gap: 5px;
          display: flex;
        }
        .identifier-list {
          display: flex;
          align-items: center;
          margin-top: 40px;
          padding-inline: 24px;
          gap: 4px;
          .item {
            padding: 4px 4px 4px 8px;
            border: 1px solid #c5c5c5;
            border-radius: 30px;
          }
        }
        .identifier-input {
          font-size: 16px;
          width: 95%;
          height: 100px;
          outline: none;
          resize: none;
          padding: 5px 10px;
          border: 1px solid #c5c5c5;
        }
      }
    }
  }
}

.selected {
  background-color: white;
  color: #262626;
}

::ng-deep .cdk-overlay-container {
  z-index: 10000 !important;
}

.duration-input {
  width: 100%;
  border: none;
  accent-color: #ca0a3d;
  cursor: pointer;
}

.duration-input::-webkit-slider-thumb {
  background-color: #ca0a3d;
}

.duration-input::-moz-range-thumb {
  background-color: #ca0a3d;
}

.duration-input::-ms-thumb {
  background-color: #ca0a3d;
}

::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  position: unset !important;
  cursor: pointer;
}

::ng-deep .ng-clear-wrapper[title='Clear all'] {
  visibility: hidden !important;
}

::ng-deep .ng-value.ng-star-inserted {
  background-color: transparent !important;
  cursor: pointer;
}

.delete-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.applied-filters {
  display: flex;
  position: absolute;
  top: 80px;
  right: 0;
  margin-right: 200px;
  align-items: center;
}

.filter-badge {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  .filter-label {
    color: #333;
    font-weight: 500;
  }
}

.filter-badge:nth-child(n + 3) {
  display: none;
}

// .filter-badge:nth-child(2):after {
//     content: '...';
//     display: inline-block;
// }
.filter-remove-btn {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.showfilter {
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label-heading {
  font-size: 14px;
  color: #262626;
}

.label-value {
  font-size: 14px;
}

.selected-date {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 40px;
}

.date-label {
  flex-grow: 1;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.more-filters {
  color: #262626;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}
