<div class="workflow-history-container">
  <button
    class="btn btn--red"
    type="button"
    (click)="filterDeliveries(filterDeliveriesForm)">
    <img src="assets/icons/filter.svg" alt="" />
    <span>FILTERS</span>
  </button>
  <div class="workflows-instance-table">
    <app-workflow-table
      *ngIf="!noInstancesFound"
      [workflows]="workflowsInstances"
      [headings]="instanceHeadings"
      [isWorkflow]="false"
      (getSortParam)="sortColumn($event)"
      (workflowDetailEvent)="viewInstanceDetails($event)"></app-workflow-table>
    <div *ngIf="noInstancesFound" class="no-instances-message">
      No Instance Found
    </div>

    <div class="page-view" *ngIf="!noInstancesFound">
      <app-pagination
        [page]="page"
        (paginationEvent)="onPage($event)"></app-pagination>
    </div>
  </div>
</div>

<ng-template #filterDeliveriesForm class="modal-content">
  <div class="header">
    <p class="header_title">Filter</p>
    <button type="button" class="header_close-btn" (click)="closeModal()">
      <img src="assets/icons/close-circle.svg" alt="" />
    </button>
  </div>
  <div class="form-details">
    <div class="field">
      <span>Start Date</span>
      <mat-form-field
        appearance="outline"
        color="accent"
        class="w-100 datepicker__size_s">
        <mat-label>Select Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startDatepicker"
          [(ngModel)]="filter.startDate"
          [matDatepickerFilter]="startDateFilter"
          readonly />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="field">
      <span>Completed Date</span>
      <mat-form-field
        appearance="outline"
        color="accent"
        class="w-100 datepicker__size_s">
        <mat-label>Select Completed Date</mat-label>
        <input
          matInput
          [matDatepicker]="completedDatepicker"
          [(ngModel)]="filter.completedDate"
          [matDatepickerFilter]="completedDateFilter"
          readonly />
        <mat-datepicker-toggle
          matSuffix
          [for]="completedDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #completedDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="field">
      <span>Duration</span>
      <div class="duration-slider" style="width: 100%">
        <input
          type="range"
          min="0"
          max="60"
          step="1"
          [(ngModel)]="filter.duration"
          class="duration-input"
          style="width: 100%"
          (input)="updateDurationValue()" />
        <span>{{ filter.duration }} min</span>
      </div>
    </div>
    <div class="field">
      <span>Status</span>
      <ng-select
        [items]="workflowInstanceStatus"
        bindLabel="label"
        bindValue="value"
        [searchable]="false"
        [clearable]="false"
        placeholder="Select Status"
        [(ngModel)]="filter.status"
        [multiple]="true">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.label }}</span>
        </ng-template>
      </ng-select>
    </div>
    <div class="field">
      <span>Priority</span>
      <ng-select
        [items]="priority"
        bindLabel="label"
        bindValue="value"
        [searchable]="false"
        [clearable]="false"
        placeholder="Select Priority"
        [(ngModel)]="filter.priority"
        [multiple]="true">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.label }}</span>
        </ng-template>
      </ng-select>
    </div>
    <div class="field">
      <span>Delivery Type</span>
      <ng-select
        [items]="deliveryType"
        bindLabel="label"
        bindValue="value"
        [searchable]="false"
        [clearable]="false"
        placeholder="Select Delivery Type"
        [(ngModel)]="filter.deliveryType"
        [multiple]="true">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.label }}</span>
        </ng-template>
      </ng-select>
      <div class="field">
        <span>Identifier</span>
        <textarea
          placeholder="Enter comma-separated barcodes..."
          class="identifier-input"
          [(ngModel)]="filter.identifier">
        </textarea>
      </div>
    </div>
  </div>
  <div class="buttons" style="position: relative">
    <button class="btn btn--black" (click)="closeModal()">RESET ALL</button>
    <div>
      <button class="btn btn--red" (click)="applyFilters()">
        APPLY FILTER
      </button>
    </div>
  </div>
</ng-template>
