<div class="workflow-detail-view-container">
  <div class="details-label">
    <div class="label-left">
      <button
        class="navigate-back-btn"
        type="button"
        (click)="backToWorkflows()">
        <img
          src="/assets/icons/navigate-back-logo.svg"
          class="navigate-back-icon"
          alt="export Icon" />
      </button>
      <p>
        Instance Of {{ workflowsInstance?.workflow?.name }}
        <span class="instance-id">ID:{{ workflowsInstance?.id }}</span>
      </p>
    </div>
  </div>

  <div class="navigate-tabs">
    <div class="buttons">
      <button
        class="summary-button"
        (click)="selectTab('summary')"
        [class.active-button]="selectedTab === 'summary'">
        Summary
      </button>
      <button
        class="artifacts-button"
        (click)="selectTab('artifacts')"
        [class.active-button]="selectedTab === 'artifacts'">
        Artifacts
      </button>
      <button
        class="logs-button"
        (click)="selectTab('logs')"
        [class.active-button]="selectedTab === 'logs'">
        Logs
      </button>
    </div>
  </div>

  <div *ngIf="selectedTab === 'summary'" class="details-section">
    <div class="details-info">
      <p class="info-heading">Duration</p>
      <p class="info-data">{{ workflowsInstance?.duration }} Min</p>
    </div>
    <div class="details-info">
      <p class="info-heading">Triggered On</p>
      <p class="info-data">
        {{ workflowsInstance?.created | date: 'MMM dd, yyyy' }}
        <span class="time">{{
          workflowsInstance?.created | date: 'HH:mm'
        }}</span>
      </p>
    </div>
    <div class="details-info">
      <p class="info-heading">Avg.Executed Time</p>
      <p class="info-data">
        {{ workflowsInstance?.completed | date: 'yyyy-MM-dd' }}
        <span class="time">{{
          workflowsInstance?.completed | date: 'HH:mm'
        }}</span>
      </p>
    </div>
  </div>

  <div class="files" *ngIf="selectedTab === 'artifacts'">
    <div class="files-label">
      <button
        class="xml-button"
        (click)="selectFiles('xml')"
        [class.active-button]="selectedButton === 'xml'">
        XML
      </button>
      <button
        class="files-button"
        (click)="selectFiles('files')"
        [class.active-button]="selectedButton === 'files'">
        Files
      </button>
    </div>
    <div *ngIf="noXmlFiles" class="no-files-message">No XML files found.</div>

    <div class="file-section">
      <div class="file-actions">
        <div *ngFor="let step of filteredFiles" class="file-item">
          <div>
            <img
              [src]="getIcon(step.filename)"
              class="file-icon"
              alt="File Icon" />
            {{ step.filename }}
          </div>
          <div class="file-action-buttons">
            <button
              class="download-btn"
              (click)="downloadArtifact(step.id, step.filename)">
              <img
                src="/assets/icons/download-logo.svg"
                class="search-icon"
                alt="Search Icon" />
              Download
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="logs-section" *ngIf="selectedTab === 'logs'">
    <p class="logs">Logs</p>
    <div class="log-items-container">
      <pre class="log-items" *ngFor="let log of logsResponse">
                {{ (log ? '[' : '') + log }}
            </pre
      >
    </div>
  </div>
</div>
