.table-container {
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-collapse: collapse;
  table-head {
    background-color: white;
  }
  .table-header-cell {
    width: 98rem;
    height: 36px;
    background-color: #f9fafb;
    border-width: 0px 0px 1px 0px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-weight: 400 !important;
    letter-spacing: 0.5px;
    position: sticky;
    z-index: 10;
    .table-header-content {
      font-size: 12px;
      line-height: 14.52px;
      text-transform: uppercase;
      color: #656565;
      .heading-icon {
        margin-inline: 0.5rem;
      }
    }
  }
  .scrollable-table__body tr:hover {
    cursor: pointer;
    background-color: #f9fafb;
  }
  .first-child-padding .table-cell {
    padding-block: 15px;
  }
  .table-cell {
    height: 64px;
    border-width: 0px 0px 1px 0px;
    border-bottom: 1px solid #f2f2f2;
    padding-block: 10px;
    text-align: center;
    .id-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 100px;
    }
    .status-content {
      display: flex;
      justify-content: center;
      .active-class {
        display: flex;
        flex-direction: row;
        gap: 6px;
        p {
          margin-bottom: 0px;
        }
      }
      .inactive-class {
        display: flex;
        flex-direction: row;
        gap: 6px;
        p {
          margin-bottom: 0px;
        }
      }
    }
    .action-icon {
      padding: 0px 10px;
      background-color: #ffffff;
      margin-inline: 0.1rem;
    }
    .pause {
      background-color: transparent;
    }
    .time {
      color: #565656;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }
  }
  .expanded-instance {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f2f2f2;
    .message-section {
      height: 60px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .view-instance-detail-btn {
        width: 182px;
        height: 40px;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: #262626;
        color: #ffffff;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.5;
      }
      .status {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0.3px;
        color: #333333;
      }
      .status-info {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
        letter-spacing: 0.5px;
        color: #656565;
      }
    }
    .logs-section {
      margin: 0px 10px;
      .log-items-container {
        background-color: #ffffff;
        padding: 10px 15px;
        border-radius: 5px;
        .log-items {
          margin-bottom: 3px;
          font-size: 12px;
        }
      }
      .logs {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0.3px;
        color: #333333;
      }
    }
    .file-section {
      .files-heading {
        padding: 0px 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0.3px;
        color: #333333;
      }
      .file-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        margin: 10px;
        padding: 10px 15px;
        background-color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #000000;
        border-radius: 5px;
        .file-action-buttons {
          display: flex;
          gap: 8px;
          .view-file-btn {
            width: 92px;
            height: 36px;
            padding: 8px;
            border: none;
            color: #000000;
            font-size: 400;
            font-weight: 14px;
            line-height: 18px;
            display: flex;
            gap: 4px;
            background-color: #ffffff;
          }
          .download-btn {
            width: 100px;
            height: 36px;
            padding: 8px;
            border: none;
            font-size: 400;
            font-weight: 14px;
            line-height: 18px;
            display: flex;
            gap: 4px;
            background-color: #ffffff;
          }
        }
      }
    }
  }
}

.rotate {
  transform: rotate(180deg);
}
