@import 'src/styles/_ngselect.scss';
@import 'src/styles/checkbox';
@import 'src/styles/button';

.details-label {
  padding-inline: 15px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;

  .label-left {
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-transform: capitalize;

    .navigate-back-btn {
      border: none;
      background: #f3f3f3;

      &:hover {
        cursor: pointer;
      }
    }

    .workflow-label {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .bookmark-fill-icon {
      height: 25px;
      width: 25px;
      margin-top: 2px;
    }

    .status-icon {
      padding: 5px;
    }
  }
  .trigger-history-btn {
    height: 40px;
    width: 151px;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #262626;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.main-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #0003;
  margin-inline: 15px;
  margin-bottom: 10px;

  .general-setting-label {
    display: flex;
    gap: 20px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid #e8e8e8;
    margin: 10px 15px 0px 15px;
    padding: 10px 0px;

    .edit-icon {
      cursor: pointer;
    }

    p {
      border: 0px 0px 1px 0px;
      font-weight: 550;
      font-size: 20px;
      line-height: 24.2px;
      letter-spacing: 0.3px;
      color: #333333;
      margin-bottom: 0;
    }

    .save-btn {
      border-radius: 4px;
      padding: 6px;
      padding: 6px 12px;
      background-color: #bd2c49;
      border: none;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
      margin-inline: 10px;
    }

    .cancel-btn {
      border-radius: 4px;
      padding: 6px 14px;
      background-color: #262626;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
      border: none;
    }
  }

  .fields-container {
    margin-inline: 15px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }

  .input-field {
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: white;
  }
}
.input-field-highlet {
  width: 100%;
  min-height: 44px !important;
  padding-inline: 10px !important;
  font-size: 14px;
  border: 1px solid #d0d5dd !important;
  border-radius: 4px;
}
.disabled {
  opacity: 0.7;
}

.templates-container {
  background-color: white;
  margin: 0px 15px;

  padding-inline: 0px 0px 0px 15px;
  display: flex;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #0003;
  // gap: 24px;

  .left-container {
    display: flex;
    width: 20vw;
    flex-direction: column;
    background-color: #ffffff;
    border-right: 1px solid #f2f2f2;

    // border-radius: 8px;

    .heading {
      width: 100%;
      // height: 56px;
      display: flex;
      justify-content: flex-start;
      border: 0px 0px 1px 0px;
      padding: 16px;
      // margin-bottom: 0;
      border-bottom: 1px solid #e8e8e8;

      .label {
        font-weight: 500;
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: 0.3px;
        margin-bottom: 0;
        color: #333333;
      }
    }

    .version {
      display: flex;
      flex-direction: column;
      padding-block: 5px;

      &:hover {
        background-color: #f9fafb;
        cursor: pointer;
      }

      .version-number {
        padding-inline: 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        cursor: pointer;
      }
      .version-number:hover {
        font-weight: 500;
      }
      .time {
        color: #565656;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.3px;
        padding-inline: 14px;
      }
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 24px;
    padding: 24px;
    width: 80vw;
    .heading {
      display: flex;
      justify-content: flex-end;

      .label {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
      }
      .buttons {
        height: 40px;
        display: flex;
        gap: 8px;
        .edit-btn {
          border-radius: 4px;
          width: 40px;
          padding: 10px;
          background-color: #ffffff;
          border: 1px solid #d0d5dd;
          .edit-icon {
            margin-bottom: 8px;
          }
        }
        .edit-btn:hover {
          opacity: 0.5;
        }
        .compare-btn {
          width: 116px;
          border-radius: 4px;
          padding: 10px 32px;
          background-color: #ffffff;
          border: 1px solid #d0d5dd;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #333333;
          text-align: center;
        }
        .compare-btn:hover {
          opacity: 0.5;
        }
        .save-as-btn {
          width: 130px;
          border-radius: 4px;
          padding: 10px 32px;
          background-color: #ca0a3d;
          border: 1px solid #ca0a3d;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #ffffff;
          text-align: center;
        }
        .not-allowed {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
    .template {
      // border-radius: 8px;
      border: 1px solid #eaecf0;

      .form {
        height: 500px;
        font-size: 14px;

        textarea {
          font-size: 14px;
          background: #f9fafb;
          width: 100%;
          height: 100%;
          overflow: auto;
        }
      }
    }
  }
}

::ng-deep .modal-dialog {
  max-width: 800px;
  .modal-content {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 6px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 20px;
      margin-top: 20px;
      .header_title {
        font-family: Graphik, serif;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        line-height: 40px;
        height: 39px;
        color: black;
        margin-bottom: 0px !important;
      }
      .header_close-btn {
        cursor: pointer;
        border: none;
        outline: none;
        background: white;
        height: 20px;
      }
    }
    .form-details {
      overflow-y: auto;
      font-family: 'Graphik', sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #828282;
      padding-inline: 20px;
      .select-templates {
        display: flex;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #344054;
        margin-bottom: 80px;
        background-color: #f5f5f5;
        padding-inline: 10px;
        padding-block: 11px;
        height: 70px;
        border-radius: 4px;
        .input-field {
          width: 400px;
        }
      }
      .workflow-field {
        width: 100%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: block;
        letter-spacing: 0.3px;
        padding-block: 15px;
        color: #344054;
        .text-field {
          width: 119%;
          height: 90px;
          margin-top: 10px;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #d0d5dd;
          border-radius: 4px;
        }
      }
      .email-type {
        margin-bottom: 15px;
      }
    }
    .buttons {
      display: flex;
      gap: 5px;
      align-items: flex-end;
      padding-inline: 20px;
      margin-bottom: 20px;
      .confirm-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #bd2c49;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
      }
      .confirm-btn:hover {
        opacity: 0.5;
      }
      .cancel-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #262626;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        margin-left: 560px;
      }
      .cancel-btn:hover {
        opacity: 0.5;
      }
    }
  }
}

.diff-editor-form {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.compareTemplates {
  height: 100%;
}

.selected-version {
  background-color: #f9fafb;
}
.bg-container {
  height: 90vh;
  overflow-y: auto;
}
.buttons {
  height: 40px;
  display: flex;
  gap: 8px;
  .edit-btn {
    border-radius: 4px;
    width: 40px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #d0d5dd;
    .edit-icon {
      margin-bottom: 8px;
    }
  }
}

.tables-main-container {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  gap: 40px;
  margin: 0px 10px;
  padding: 0px 10px;
  .table-container {
    width: 50%;
    table {
      width: 100%;
      .detail-field-key {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: 17px;
        letter-spacing: 0.3px;
      }
      .detail-field-value {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 17px;
        gap: 10px;
        letter-spacing: 0.3px;
        // max-width: 300px; /* Adjust width as necessary */
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
      }
      tr {
        border-bottom: 1px solid #e0e0e0;
        td {
          padding-block: 10px;
        }
      }
      tr:last-child {
        border-bottom: none;
      }
    }
  }
}

.workflowNames {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #4481ec;
  cursor: pointer;
  gap: 10px;
}
.usages {
  display: flex;
  gap: 10px;
  margin: 0px 10px;
  padding: 10px;
  // border-top: 1px solid #e0e0e0;
}
.left-usage {
  border-right: 1px solid #000000;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 550;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.3px;
}
.right-usage {
  width: 100%;
  overflow-x: scroll;
}

.versions-container {
  height: 550px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.highlight {
  background-color: #ffffcc; /* Light yellow for highlighting */
  border: 1px solid #ffcc00; /* Optional: Highlight border */
}
