@import 'src/styles/_ngselect.scss';
.templates-container {
  width: 100%;
  margin-top: 80px;
  padding-inline: 15px;
  display: flex;
  gap: 24px;
  .left-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    .heading {
      width: 350px;
      height: 56px;
      display: flex;
      justify-content: space-between;
      border: 0px 0px 1px 0px;
      padding: 16px;
      border-bottom: 1px solid #e8e8e8;
      .label {
        font-weight: 500;
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: 0.3px;
        color: #333333;
      }
    }
    .version-number {
      padding: 14px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      cursor: pointer;
    }
    .version-number:hover {
      font-weight: 500;
    }
    .time {
      color: #565656;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.3px;
      padding: 14px;
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f9fafb;
    gap: 24px;
    padding: 24px;
    width: 100%;
    .heading {
      display: flex;
      height: 40px;
      justify-content: space-between;
      .label {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
      }
      .buttons {
        height: 40px;
        display: flex;
        gap: 8px;
        .edit-btn {
          border-radius: 4px;
          width: 40px;
          padding: 10px;
          background-color: #ffffff;
          border: 1px solid #d0d5dd;
          .edit-icon {
            margin-bottom: 8px;
          }
        }
        .edit-btn:hover {
          opacity: 0.5;
        }
        .compare-btn {
          width: 116px;
          border-radius: 4px;
          padding: 10px 32px;
          background-color: #ffffff;
          border: 1px solid #d0d5dd;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #333333;
          text-align: center;
        }
        .compare-btn:hover {
          opacity: 0.5;
        }
        .save-as-btn {
          width: 130px;
          border-radius: 4px;
          padding: 10px 32px;
          background-color: #ca0a3d;
          border: 1px solid #ca0a3d;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #ffffff;
          text-align: center;
        }
        .not-allowed {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
    .template {
      border-radius: 8px;
      border: 1px solid #eaecf0;
      .form {
        height: 500px;
        overflow: hidden;
      }
    }
  }
}

::ng-deep .modal-dialog {
  min-width: 800px;
  .modal-content {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 6px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 20px;
      margin-top: 20px;
      .header_title {
        font-family: Graphik, serif;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        line-height: 40px;
        height: 39px;
        color: black;
        margin-bottom: 0px !important;
      }
      .header_close-btn {
        cursor: pointer;
        border: none;
        outline: none;
        background: white;
        height: 20px;
      }
    }
    .form-details {
      overflow-y: auto;
      font-family: 'Graphik', sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #828282;
      padding-inline: 20px;
      .select-templates {
        display: flex;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #344054;
        margin-bottom: 80px;
        background-color: #f5f5f5;
        padding-inline: 10px;
        padding-block: 11px;
        height: 70px;
        border-radius: 4px;
        .input-field {
          width: 400px;
        }
      }
      .workflow-field {
        width: 100%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: block;
        letter-spacing: 0.3px;
        padding-block: 15px;
        color: #344054;
        .text-field {
          width: 100%;
          height: 90px;
          margin-top: 10px;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #d0d5dd;
          border-radius: 4px;
        }
      }
      .email-type {
        margin-bottom: 15px;
      }
    }
    .buttons {
      display: flex;
      gap: 5px;
      align-items: flex-end;
      padding-inline: 20px;
      margin-bottom: 20px;
      .confirm-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #bd2c49;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
      }
      .confirm-btn:hover {
        opacity: 0.5;
      }
      .cancel-btn {
        width: 98px;
        height: 34px;
        border-radius: 4px;
        padding: 6px;
        background-color: #262626;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        margin-left: 560px;
      }
      .cancel-btn:hover {
        opacity: 0.5;
      }
    }
  }
}

.diff-editor-form {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.compareTemplates {
  height: 100%;
}

::ng-deep monaco-diff-editor {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.selected-version {
  background-color: #f9fafb;
}
