<div class="templates-container">
  <div class="left-container">
    <div class="heading">
      <p class="label">History</p>
      <!-- <img src="/assets/icons/plus-icon.svg" /> -->
    </div>
    <div
      *ngFor="let template of xmlTemplatesById; let i = index"
      style="margin-top: 5px"
      [ngClass]="{ 'selected-version': i === selectedTemplateIndex }">
      <span class="version-number" (click)="selectTemplate(i)">
        {{ template?.displayName }}
      </span>
      <br />
      <span class="time">
        {{ template.created | date: 'yyyy-MM-dd' }} -
        {{ template.created | date: 'HH:mm' }}
      </span>
    </div>
  </div>
  <div class="right-container">
    <div class="heading">
      <p class="label">{{ templateName }}</p>
      <div class="buttons">
        <button class="edit-btn" (click)="isEditableTemplate()">
          <img
            src="/assets/icons/edit-icon.svg"
            alt="export Icon"
            class="edit-icon" />
        </button>
        <button
          class="compare-btn"
          (click)="openCompareDialog(compareTemplateForm)">
          Compare
        </button>
        <button
          class="save-as-btn"
          [disabled]="!isEditable"
          [ngClass]="{ 'not-allowed': !isEditable }"
          (click)="editTemplate()">
          Save
        </button>
      </div>
    </div>
    <div class="template">
      <form [formGroup]="reactiveForm" class="form"></form>
    </div>
  </div>
</div>

<ng-template #compareTemplateForm class="modal-content">
  <div class="header">
    <p class="header_title">Compare Changes</p>
    <button type="button" class="header_close-btn" (click)="closeModal()">
      <img src="assets/icons/close-circle.svg" alt="" />
    </button>
  </div>
  <div class="form-details">
    <div class="select-templates">
      <ng-select
        [items]="xmlTemplatesById"
        bindLabel="displayName"
        bindValue="templateCode"
        placeholder="Select First Template"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="compareTemplate.firstTemplate"
        class="input-field"
        (change)="selectFirstTemplate($event)">
      </ng-select>
      <ng-select
        [items]="xmlTemplatesById"
        bindLabel="displayName"
        bindValue="templateCode"
        placeholder="Select Second Template"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="compareTemplate.secondTemplate"
        class="input-field"
        (change)="selectSecondTemplate($event)">
      </ng-select>
    </div>
  </div>

  <div class="compareTemplates" *ngIf="showDifferences">
    <form class="diff-editor-form"></form>
  </div>
  <div class="buttons">
    <button class="cancel-btn" (click)="closeModal()">CANCEL</button>
    <button class="confirm-btn" (click)="compareChanges()">COMPARE</button>
  </div>
</ng-template>
